/* for paddings, margin use px instead */

body{
  margin: 0;
  font-family: 'Merriweather', sans-serif;
  font-weight: normal;
  color: #40514E;
}

h2{
  font-family: 'Poppins', sans-serif;
  color: #71c9ce;
  font-size: 2em;
  letter-spacing: 1px;
}

h3{
  font-family: 'Poppins', sans-serif;
  color: #40514E;
  font-weight: normal;
  font-size: 1.5em;
}

hr{
  border: solid #E6ECF8 0.1rem;
  margin: 100px 0;
  border-bottom: none;
}

p{
  margin-bottom: 0;
  size: 3px;
  line-height: 1.3em;
}

/* Button */

.button {
  text-align: center;
  text-decoration: none;
  border-radius: 4rem;
  border: 2px solid #71c9ce;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}



/* COLORS: #e3fdfd #71c9ce */

/* Navigation Bar Section*/

#navbar-section{
  background-color: #e3fdfd;
  padding: 30px 0;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.icon-img{
  width: 5em;
}

.btn-say-hello {
  font-size: 18px;
  padding: 0.6em 1.3em;
  color: #fff;
  background-color: #71c9ce;
}

.btn-say-hello:hover {
  background-color: transparent;
  color: #71c9ce;
}

/* Top Heading Section */

#top-heading-section{
  display: block; 
  background-color: #e3fdfd;
  text-align: center;
}

.top-container{
  margin: 0 10%;
}

.my-name{
  margin: 0;
  font-size: 3.8em; /* static font sizing | not inherited | 1rem == 16px | recommended for font sizes */
  font-family: 'Poppins', sans-serif;
  color: #141c3a;
  font-weight: bold;
  padding: 30px;
  letter-spacing: 2px;
}

.my-desc{
  font-family: 'Poppins', sans-serif;
  color: #141c3a;
  font-size: 1.1em;
  margin-bottom: 50px;
}

.big-img{
  width:40%;
}

/* Profile Section */

#profile-section{
  display: block; 
  text-align: center;
  margin: 70px 0;
}

.profile-container{
  margin: 0 10%;
}

.profile-img{
  width: 200px;
  margin-bottom: 30px;
}

/* Skills Section */

#skills-section{
  display: block; 
  text-align: center;
}

.headings{
  margin-bottom: 70px;
  letter-spacing: 2px;
}

.skill-container{
  display: flex;
  margin: 30px 10%;
}

.skill-row{
  align-self: center;
  flex-direction: column;
  padding: 30px 0px;
  flex: 1;
}

.skill-description-holder{
  flex-direction: column;
  align-self: flex-start;
  text-align: left;
  flex: 2;
}

.skill-row2{
  align-self: center;
  flex-direction: column;
  padding: 20px 50px;
  order: 2;
}

.skill-description-holder2{
  flex-direction: column;
  align-self: flex-start;
  text-align: right;
  flex: 2;
  order: 1;
}


.skill-img{
  font-size: 5rem;
  color: #71c9ce;
}

.skill-title{
  color: #71c9ce;
  font-size: 1.5rem;
}

/* Certifications Section */

#certifications-section{
  display: block;
  text-align: center;
}

.certifications-container{
  margin: 0 10%;
}

.certifications-description{
  line-height: 2;
  margin-bottom: 50px;
}

.certifications-container img{
  width: 10rem;
}

/* Contact me section */

#contact-me-section{
  display: block;
  text-align: center;
}

.contact-me-container{
  margin: 70px 10%;
}

.contact-me-description{
  font-family: 'Merriweather', sans-serif;
  margin-bottom: 30px;
}

.btn-contact-me{
  font-size: 1rem;
  padding: 0.8em 1.3em;
  color: #fff;
  background-color: #71c9ce;
}


.btn-contact-me:hover {
  background-color: transparent;
  color: #71c9ce;
}

/* Footer Section */

#footer-section{
  display: block;
  text-align: center;
  background-color: #66BFBF;
}

.footer-container{
  margin: 0 10%;
  padding: 50px 0;
  margin-top: 100px;
  color: #e3fdfd;
}

.footer-link{
  margin: 20px 30px;
}

.footer-link-container{
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  text-decoration: none;
  margin-bottom: 30px;
}


.footer-link-container a{
  text-decoration: none;
  color: #e3fdfd;
}

.footer-link-container a:hover{
  color: gray;
}

.copyright{
  font-size: 12px;
  margin-bottom: 30px;
}

.blog-post{
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.blog-post a{
  text-decoration: none;
  color: gray;
}

.blog-post a:hover{
  color: #e3fdfd;
}

.number-of-visitors{
  font-family: 'Poppins', sans-serif;
  margin: 20px 0;
  font-size: 12px;
}

.powered-by{
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.powered-by i{
  font-size: 18px;
  
}


/* error section */

#error-section{
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}

#error-section h1{
  font-size: 10rem;
}

#error-section a{
  text-decoration: none;
}