html{
  scroll-behavior: smooth;
}


body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  color: #40514E;
  line-height: 1em;
  font-size: 1rem;
}

#navbar-section{
  padding: 20px 0;
  background-color: #e3fdfd;
}

.nav-icon{
  width: 5em;
}

.nav-item{
  margin: 0 1rem;
}

.nav-link{
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.nav-link:hover{
  color: #71c9ce;
}

.btn-say-hello {
  text-align: center;
  text-decoration: none;
  border-radius: 4rem;
  border: 2px solid #71c9ce;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  padding: 1em 1.3em;
  color: #fff;
  background-color: #71c9ce;
}

.btn-say-hello:hover {
  background-color: transparent;
  color: #71c9ce;
}

.big-img {
  display: inline-block;
}

/* Top Heading Section */

#top-heading-section{
  background-color: #e3fdfd;
}

.my-name{
  margin: 0;
  font-size: 3.8em; /* static font sizing | not inherited | 1rem == 16px | recommended for font sizes */
  font-family: 'Poppins', sans-serif;
  color: #141c3a;
  font-weight: bold;
  padding: 30px;
  letter-spacing: 2px;
}

.my-desc{
  font-family: 'Poppins', sans-serif;
  color: #141c3a;
  font-size: 1.1em;
  margin-bottom: 50px;
}

.big-img{
  width:31.25rem;
}

/* Profile Section */

#profile-section{
  padding: 50px 0;
  font-family: 'Poppins', sans-serif;
  color: #141c3a;
}

.profile-img{
  width: 200px;
  margin-bottom: 30px;
}

.profile-text{
  line-height: 2rem;
  margin-bottom: 30px;
}

.profile-intro{
  font-family: 'Merriweather', sans-serif;
}