/* for paddings, margin use px instead */

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: normal;
  color: #40514E;
}

h2{
  font-family: 'Poppins', sans-serif;
  color: #71c9ce;
  font-size: 2rem;
  letter-spacing: 1px;
}

h3{
  font-family: 'Poppins', sans-serif;
  color: #40514E;
  font-weight: normal;
}

hr{
  border: dotted gray 6px;
  border-bottom: none;
  width: 3rem;
  margin: 100px auto;
}

/* Button */

.button {
  text-align: center;
  text-decoration: none;
  border-radius: 4rem;
  transition-duration: 0.4s;
  border: 2px solid #71c9ce;
  letter-spacing: 1px;
}


/* Sections */

.top-heading-section{
  margin-bottom: 50px;
}

.profile-section{
  margin-bottom: 50px;
}

/* Navigation Bar */

.navbar-flexbox-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 2rem;
  background-color: #e3fdfd;
}

.icon-img{
  width: 4.5rem;
}


.nav-link-right{
  width: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #71c9ce;
}

.nav-link-right a{
  font-size: 1rem;
  text-decoration: none;
}

.btn-say-hello {
  font-size: 1rem;
  padding: 0.6rem 1.3rem;
  color: #fff;
  background-color: #71c9ce;
}

.btn-say-hello:hover {
  background-color: transparent;
  color: #71c9ce;
}

/* Big Heading */

.myname{
  display: inline-block;
  text-align: center;
  font-size: 3.8rem; /* static font sizing | not inherited | 1rem == 16px | recommended for font sizes */
  font-family: 'Poppins', sans-serif;
  color: #141c3a;
  font-weight: bold;
  padding: 30px;
  letter-spacing: 2px;
}

.mydesc{
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #141c3a;
  font-size: 1.1rem;
  margin-bottom: 100px;
}

.big-img{
  padding-top: 30px;
  width:30rem;
}

.top-container{
  background-color: #e3fdfd;
  padding: 30px 0px 0px 0px;
  overflow: hidden;;
}


.intro{
  margin: 0 auto;
  width: 44%;
  font-family: 'Poppins', sans-serif;
}

.profile-img{
  width: 12rem;
}

.hello{
  letter-spacing: 1px;
}

.profile-container{
  padding: 50px;
}

.profile-container img{
  text-align: center;
  margin-top: 50px;
}

.skills-container{
  margin: 0 auto;
}

.skill-row{
  margin: 50px auto;
  text-align: left;
  padding-top: 20px;
  width: 44%;
}

.skill-row p{
  line-height: 2;
}

.skill-row .comp1-img{
  width: 10rem;
  float: left;
  margin: 0px 30px 30px 0px;
}

.skill-row .comp2-img{
  width: 10rem;
  float: right;
  margin: 0px 0px 30px 30px;
}

/* Contact Me */

.contact-me-container{
  margin: 0 auto;
  text-align: center;
  width: 44%;
}


.contact-me-description2{
  width: 44%;
  margin: 20px auto auto auto;
}

.btn-contact-me {
  margin-top: 30px;
  font-size: 1.2rem;
  padding: 1rem 2.3rem;
  background-color: #71c9ce;
  color: #fff;
}

.btn-contact-me:hover {
  background-color: transparent;
  color: #71c9ce;
}

.bottom-container{
  background-color: #66BFBF;
  margin: 0;
  padding: 20px 0;
  margin-top: 60px;
}

.footer-link{
  margin: 20px 20px;
}

.copyright{
  font-size: 0.8rem;
  color: #EAF6F6;
}

.footer-link-container{
  font-family: 'Poppins', sans-serif;
  color: #11999E;
  padding: 20px;
  text-decoration: none;
}

.footer-link-container a{
  text-decoration: none;
}

.footer-link-container a:hover{
  color: #EAF6F6;
}

/* error section */

#error-section{
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}

#error-section h1{
  font-size: 10rem;
}

#error-section a{
  text-decoration: none;
}
